.app {
 margin-top: 80px;
}

.module {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.916);
    width: 100vw;
    height: 100vh;
    top: 0;
    bottom: 0;
    margin: auto;
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#lessons, .nameInput {
    width: 40%;
    height: 40px;
    font-size: 1.1rem;
    outline: none;
}

.trashBin {
    position: absolute;
    right: 5px;
    top: 5px;
    color: rgb(255, 71, 71);
}

.editIcon {
position: absolute;
right: 5px;
bottom: 5px;
color: rgb(80, 255, 80);
}