.main {
    position: absolute;
    top: -5px;
    right: -10px;
    background-color: rgba(252, 33, 33, 0.942);
    color: #fff;
    padding: 2px 4px;
    margin: 0;
    font-size: 15px;
    border-radius: 2px;
    cursor: pointer;
}

.number {
    margin: 0;
}
