.container {
width: 100%;
height: calc(100vh - 65px);
margin-top: 65px;
padding-top:20px ;
background-color: antiquewhite;
}
.personalInfo {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.976);
    height: 95%;
    margin-left: 25px;
    margin-right: 25px;
    color: rgb(25, 28, 30);
    border-left: 3px solid green;
    border-right: 3px solid green;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.494);
    display: flex;
    justify-content: space-evenly;

}
.image {
    width: 200px;
    border-radius: 50%;
    border: 2px solid green;
}


.middleSide img{
  width: 200px;
  display: block;
  margin-bottom: 30px;
  cursor: zoom-in;
}
.middleSide h2 {
    text-align: center;
    margin-bottom: 50%;
}

.rightSide h2{
 margin-bottom: 80%;
}

.middleSide, .rightSide, .leftSide {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.289), 0 6px 20px 0 rgba(0, 0, 0, 0.494);
    padding:0  70px;
    background-color: rgb(198, 222, 222);
}

.tdLessons {
    text-decoration: none;
}